*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{ 
  height:100%;
  box-sizing: border-box;
 }
body{ 
  min-height:100%; 
  position:relative; 
  min-height: 100%;
  box-sizing: inherit;
  
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: dimgray;
}
.navbar {
  background: linear-gradient(to right, #fe3976, #fe6a75, #fea074, #feab73, #fec272, #fede72, #fef371); 
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: absolute;
  top: 30px;
  right: 0%;
  left: 0%;
}
.navbar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin: 0 10px;
}

.menu a {
  text-decoration: none;
  color: #000000;
}
.menu a:hover{
  color: dimgray;
}

.menu-icon {
  cursor: pointer;
  display: none;
  font-size: 20px;
}

/* Media Query for Responsive Menu */
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  #menu-toggle {
    display: none;
  }

  #menu-toggle:checked + .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px 0;
  }

  #menu-toggle:checked + .menu .menu-icon::before {
    content: "\f00d";
  }

  #menu-toggle:checked + .menu li {
    margin: 10px 0;
  }
}
.navbarlogo{
  transform: scale(0.35);
  position: relative;
  left: -50px;
}


.Marquee {
  font-size: 2em;
  line-height: 1.3em;
  color: #FFFFFF;
  background-color: #000000;
  padding: 1.5em;
  max-width: 100%;
  padding: 0px;
  margin-top: -25px;
  height: 60px;
  position: absolute;
  right: 0%;
  left: 0%;
}
.marqueeimg{
  transform: scale(0.35) rotate(0deg);
  position: relative;
  margin-top: -69px;
  animation: rotateAnimation 5s linear infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: scale(0.35) rotate(0deg);
  }
  100% {
    transform: scale(0.35) rotate(360deg);
  }
}
.marquee-text {
  display: inline-block;
  vertical-align: top;
  line-height: 2em;
  padding: 0px;
  font-family: Verdana;
  color: whitesmoke;
}
body::after{ content:''; display:block; height:100px; }

.tipa-main-content{
  margin: 25px;
  position: relative;
  top: 200px;
  display: block;
  height: 700px;
  font-family: 'Belanosima', arial, serif;
}
.main-content{
  width: 100%;
  margin: 0;
  position: relative;
  display: inline-block;
  top: -100px;
  left: 1%;
}
.first-product{
  width: 400px;
  height: 400px;
  margin: 20px;
  display: inline-block;
}
.second-product{
  width: 400px;
  height: 400px;
  margin: 20px;
  display: inline-block;
}
.third-product{
  width: 400px;
  margin: 20px;
  height: 400px;
  display: inline-block;
}
.fourth-product{
  width: 400px;
  margin: 20px;
  height: 400px;
  display: inline-block;
}
.fifth-product{
  width: 400px;
  margin: 20px;
  height: 400px;
  display: inline-block;
}
.sixth-product{
  width: 400px;
  margin: 20px;
  height: 400px;
  display: inline-block;
}
.seventh-product{
  width: 400px;
  margin: 20px;
  height: 400px;
  display: inline-block;
}
.eighth-product{
  width: 400px;
  margin: 20px;
  height: 400px;
  display: inline-block;
}
.ninth-product{
  width: 400px;
  margin: 20px;
  height: 400px;
  display: inline-block;
}
.tenth-product{
  width: 400px;
  margin: 20px;
  height: 400px;
  display: inline-block;
}
.eleventh-product{
  width: 400px;
  margin: 20px;
  height: 400px;
  display: inline-block;
}
.twelfth-product{
  width: 400px;
  margin: 20px;
  height: 400px;
  display: inline-block;
}
.thirteenth-product{
  width: 400px;
  margin: 20px;
  height: 400px;
  display: inline-block;
}
.fourteenth-product{
  width: 400px;
  margin: 20px;
  height: 400px;
  display: inline-block;
}
.fifteenth-product{
  width: 400px;
  margin: 20px;
  height: 400px;
  display: inline-block;
}
.sixteenth-product{
  width: 400px;
  margin: 20px;
  height: 400px;
  display: inline-block;
}
.fotka1{
  max-width: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
}

.container h3 {
  margin: 0;
}

.textfirst{
  text-align: right;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    color: #fff;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
  padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
}
/*.page{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}*/